button{
    background-color: #b6d7a8; /* Green */
  border: 2px solid black;

  color: black;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-family: roboto;
  font-weight: 900;
  cursor: pointer;
}

.logo{
      width: 50%; 
      height: 50%;
}

button:hover{
  background-color: #9fc490;
}