body{
    font-family: Arial;
    background-image:url("parabug.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;

}
header{

  color: black;
  text-align: center;
}
intro{
    font-size: 60px;
}
button{
  background-color: #b6d7a8;
  border: 2px solid black;

  color: black;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  font-weight: 900;
  cursor: pointer;
}

.logo{
      width: 30%; 
      height: 30%;
}

button:hover{
  background-color: #9fc490;
  
}

.formButton:hover{
  background-color: #9fc490;
  
}
  
table {
  font-family: Arial;
  border-collapse: collapse;
  width: 80%;
  
}

td, th {
  border: 1px solid #FF8C00;
  padding: 8px;
}

tr{
  background-color:#DCDCDC;
  opacity: 0.8;
}

tr:hover {background-color: #ddd;}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

.flex{
    display: flex;
}

form { text-align: center; }
input[type=submit] {
  background-color: #b6d7a8;
  color: black;
  font-family: Arial;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
   background-color: #9fc490;
}

